* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body::before {
  content: '';
  background-image: url(../images/Poodle2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

body {
  font-family: Arial, sans-serif;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  */
}

.heading {
  color: brown;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

#poodle {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

h1 {
  text-align: center;
  color: rgb(90, 26, 26);
}

.member-box {
  display: flex;
  align-items: flex-start;
  border: 2px solid brown;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  max-width: 700px;
  gap: 20px;
  background-color: #f9f0e6;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.member-box img {
  width: 250px;
  height: 250px;
  border-radius: 20%;
  object-fit: cover;
  margin: 0 15px;
}

.member-text {
  flex: 1;
}

.member-box.left {
  flex-direction: row-reverse;
}

.member-box.right {
  flex-direction: row;
}

.member-text h2 {
  flex: 1;
  margin-bottom: 10px;
}

.linkedin {
  width: 30px !important;
  height: 30px !important;
  object-fit: contain;
  display: inline-block;
  margin-top: 30px !important;
  margin-left: -1px !important;
}